.myTable {
  img {
    width: auto;
    height: 20px;
  }
  table {
    width: 100%;
    tr:nth-child(even) {
      background: #ccc;
    }
    tr:nth-child(odd) {
      background: #fff;
    }
  }
}
