nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
  li {
    display: inline-flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
  }
}
