$constant: 200px;
.image {
  width: $constant;
  height: $constant;
}
.vertical_menu {
  width: $constant;
  align-items: center;
  a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    &:hover {
      background-color: #ccc;
    }
    &:active {
      background-color: #4caf50;
      color: white;
    }
  }
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

  /* Show the dropdown menu on hover */
  &:hover .dropdown_content {
    display: block;
  }
  /* Change the background color of the dropdown button when the dropdown content is shown */
  &:hover .dropbtn {
    background-color: #3e8e41;
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #ddd;
    }
  }
}
