tr:nth-child(even) {background: grey}
tr:nth-child(odd) {background: green}
@font-face {
  font-family: "robblack";
  src: url("Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "iffc";
  src: url("IM_Fell_French_Canon_SC/IMFellFrenchCanonSC-Regular.ttf");
}
@font-face {
  font-family: "lylas";
  src: url("Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf");
}

#container{
 width: 500px;
 background-color: lightblue;
} 

#header {
 background-color:green;
 text-align: center;
}

#form{
 background-color:gray;
 font-family: "iffc";
}

#footer{
 background-color:black;
 color:white;
}

#content:after {
 background-color:orange;
  content: "";
  clear: both;
}

#main {
 background-color:blue;
 float: left;
 font-weight: bold;
 width: 600px;
 font-family: "robblack";
}

#nav {
 background-color:purple;
 float: left;
 width: 180px;
 font-family: "lylas";
}
